!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    header.navbar(ng-if='!hideHeader',ng-animate="'header'")
        div.navbar-inner(ng-controller='HeaderController',ng-init='init()')
            div.container
                button.btn.btn-navbar(ng-click='isNavCollapse = !isNavCollapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(ui-sref='home').
                    Marktop
                div.nav-collapse(collapse='!isNavCollapse')
                    ul.nav(ng-show='user.isAuthed()')
                        li(ng-repeat='item in menu', ng-class='isSelected(item)')
                            a(ui-sref='{{item.state}}').
                                {{item.title | i18n}}
                    div
                        ul.nav.pull-right(ng-show='user.isAuthed()')
                            li.dropdown
                                a.dropdown-toggle(toggle='dropdown')
                                    {{user.account}}
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(ui-sref='signout').
                                            {{'Signout' | i18n}}

    div.container-fluid.content
        block content
    include ../includes/foot
    script(type="text/javascript").
        window.user = !{user};
 