<div ng-controller="ProductItemController" class="product">
	<div class='control-group head'>
		<h2>{{'Number' |i18n}}
			<span ng-if="!edit">{{product.number}}</span>
			<input ng-if="edit" type="{{getInputType(schema.number.type)}}" ng-model="product.number" >
		</h2>
    <div class='default-img wapper'>
      <img ng-if="imageHost" ng-src='{{defaultImage}}'>
    </div>
	</div>
	<errors></errors>
	<div class='pull-right'>
		<button ng-click="toggleEditModel()" class="{{edit?'btn btn-primary':'btn btn'}}">
			<div ng-switch on="edit">
        <i class="icon-edit"></i>
				<span ng-switch-when="true">{{"Save" | i18n}}</span>
        <span ng-switch-when="false">{{"Edit" |i18n}}</span>
        <span ng-switch-default="false">{{"Edit" |i18n}}</span>
			</div>
		</button>
	</div>
  <loading ng-if="!product.uid"></loading>
  <tabset  class='nav-pills nav-stacked' direction ="left">
		<tab heading="{{'Property' | i18n}}">
      <div class='control-group catalog'>
        <h3 ng-if="!edit">{{product.catalog}}</h3>
        <form class='form-horizontal' ng-if="edit">
          <label class="control-label" for="catalog">{{"Catalog" | i18n}}</label>
          <div  class='controls combobox'>
            <input  class='dropdown-toggle' type="{{getInputType(schema.catalog.type)}}" name="catalog" ng-model="product.catalog" ng-focus='getCatalogs()'>
             <ul class="dropdown-menu">
                <li ng-repeat="cg in catalogs">
                  <a ng-click="product.catalog = cg.catalog">{{cg.catalog}}</a>
                </li>
              </ul>
          </div>
        </form>
      </div>
      
			<form class="form-horizontal">
				<div class='control-group' ng-repeat='field in schema.property.default'>
				    <label class="control-label" for="inputEmail">{{field.name | i18n}} {{field.unit?"("+field.unit+")":""}}</label>
					<div class="controls">
						<span class='value' ng-if="!edit" name="field.name">{{product.property.default[field.name]}}</span>
						<input ng-if="edit" type="{{getInputType(field.type)}}" name="field.name" ng-model="product.property.default[field.name]" >
					</div>
				</div>
			</form>
    
			<form class="form-horizontal">
				<div class='control-group' ng-repeat='field in product.property.custom'>
				    <label ng-if="!edit" class="control-label" for="inputEmail">{{field.name||'' | i18n}} {{field.unit?"("+field.unit+")":""}}</label>
				    <div class='combobox' ng-style="{float:'left'}" >
					    <input class='control-label dropdown-toggle' ng-if="edit" type="text" ng-model="field.name" ng-focus='getProperties()'>

					    <ul class="dropdown-menu">
						    <li ng-repeat="pro in properties">
						      <a ng-click="field.name = pro.name">{{pro.name}}</a>
						    </li>
						  </ul>
					</div>
					<div class="controls">
						<span class='value' ng-if="!edit" name="field.value">{{field.value}}</span>
						<input ng-if="edit" type="{{getInputType(field.type)}}" name="field.name" ng-model="field.value" >
						<button ng-if='edit' class='btn btn-warning' ng-click='product.property.custom.splice($index,1)'>&minus;</button>
					</div>
				</div>

				<button class='btn btn-primary' ng-if="edit" ng-click="product.property.custom.push({})">&plus;</button>
			</form>
		</tab>
		<tab heading="{{'Pictures' | i18n}}">
      <div class="image-tab">
        <loading ng-if="!imageHost"></loading>
        <div class="images" ng-if="imageHost" ng-class="(edit)?'span7':''">
          <div class="box" ng-repeat="img in product.images">
            <div class="thumbnails-wapper" ng-click="viewImage($index)">
              <img  ng-src="{{getImageURL(img.name,100)}}"/>
            </div>
            <button class="btn btn-link delete" ng-if="edit" ng-click="removeImage($index)">Delete</button>
          </div>
        </div>
        <div class='upload span5' ng-if='edit'>
          <loading ng-if="!uploadAvailable"></loading>
          <div ng-if='uploadAvailable'>
          <upload options="uploadOptions"></upload>
          </div>
        </div>
      </div>
    </tab>
	</tabset>
  
  
</div>
