<a ui-sref='products.add'>{{'Add' | i18n}}</a>
<div class='list' ng-controller='ProductListController' ng-init='refresh(currentPage)'>
	<div class='refresh control-group'>
		<button class='btn ' ng-click='refresh()'>
      <i class='icon-refresh'></i>
      {{'Refresh' | i18n}}
    </button>
	</div>
  <loading ng-if='loading'></loading>
  <div ng-if='!loading'>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{"Picture" | i18n}}</th>
          <th class='id'>{{"ID" | i18n}}</th>
          <th>{{"Number" |i18n}}</th>
          <th>{{"Created" | i18n}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products" ng-click="productClicked(product.uid)">
          <td class="thumbnails-wapper"><img ng-if="imageHost" ng-src="{{(product.images.length)?imageHost+getCover(product):''}}"></td>
          <td class='id'>{{product.uid}}</td>
          <td>{{product.number}}</td>
          <td>{{product.created | date:"yyyy-M-d"}}</td>
          <td><div class='dropdown'>
            <a class="dropdown-toggle">{{"Operation" | i18n}}</a>
            <ul class="dropdown-menu">
              <li><a>{{"Add similar product" | i18n}}</a></li>
            </ul>
          </div></td>
        </tr>
      </tbody>
    </table>
    <pagination boundary-links="true" total-items="productsCount" items-per-page='pageStep' page="currentPage" class="pagination-small" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" on-select-page="refresh(page)"></pagination>
  </div>
 </div>
