<div class='list top-spacing' ng-controller='ProductListController'>
	<div class='pull-right btn-group control-group'>
    <button class="btn btn-primary" ng-click="addProduct()">
      <i class='icon-plus'></i>
      {{'Add' | i18n}}
    </button>
		<button class='btn btn-primary' ng-click='refreshAtom=!refreshAtom'>
      <i class='icon-refresh'></i>
      {{'Refresh' | i18n}}
    </button>
	</div>
  <productlist catalog-selector="true" page="currentPage" actions="listActions" refresh-atom="refreshAtom"></productlist>
 </div>
