<div class="product top-spacing" ng-controller="ProductItemController">
	<errors></errors>
  <div class='pull-right btn-group'>
    <button class="btn btn-primary" ng-click="addSimilarProduct()">
      <i class="icon-file"></i>
      <span>{{"Create similar product" | i18n}}</span>
    </button>
    <button ng-click="editModel()" class="btn btn-primary">
        <i class="icon-edit"></i>
        <span >{{"Edit" |i18n}}</span>
    </button>
  </div>
  <div class='control-group head'>
		<h2>{{'Number' |i18n}}
			<span ng-if="!edit">{{product.number}}</span>
		</h2>
    <div class='default-img wapper'>
      <img ng-if="imageHost" ng-src='{{defaultImage}}'>
    </div>
	</div>
  <div class="row">	
    <fieldset class="col-sm-8 top-spacing">
      <legend>{{'Property' | i18n}}</legend>
      <form class="form-horizontal">
        <div class='form-group catalog row'>
          <label class="col-xs-5 control-label">{{'catalog' | i18n}}</label>
          <div class="controls col-xs-5">
            <span class='value'>{{product.catalog}}</span>
          </div>
        </div>
        <div class='form-group' ng-repeat='field in schema.property.default'>
          <label class="control-label col-xs-5">{{field.name | i18n}} {{field.unit?"("+field.unit+")":""}}</label>
          <div class="controls col-xs-5">
            <span class='value' name="field.name">{{product.property.default[field.name]}}</span>
          </div>
        </div>
      </form>
      <form class="form-horizontal">
        <div class='control-group' ng-repeat='field in product.property.custom'>
          <label class="control-label col-xs-5">{{field.name||'' | i18n}} {{field.unit?"("+field.unit+")":""}}</label>
          <div class="controls col-xs-5">
            <span class='value' name="field.value">{{field.value}}</span>
          </div>
        </div>
      </form>
    </fieldset>
    <fieldset class="col-sm-4 top-spacing">
      <legend>{{'Pictures' | i18n}}</legend>
      <div class="image-tab">
        <loading ng-if="!imageHost"></loading>
        <div class="images" ng-if="imageHost" ng-class="(edit)?'span7':''">
          <p class="muted text-center" ng-if="!product.images.length">{{"No pictures" | i18n}}</p>
          <div class="box" ng-repeat="img in product.images">
            <div class="thumbnails-wapper" ng-click="viewImage($index)">
              <img  ng-src="{{getImageURL(img.name,100)}}"/>
            </div>
            <button class="btn btn-link delete" ng-if="edit" ng-click="removeImage($index)">Delete</button>
          </div>
        </div>
    </fieldset>
  </div>
  <fieldset class="top-spacing">
    <legend>{{'Components' | i18n}}</legend>
    <p class="muted text-center" ng-if="!product.components.length">{{"No components" | i18n}}</p>
    <productlist ng-if="product.components.length" products="product.components" fixed="true"></productlist>
  </fieldset>
  <loading ng-if="!product.uid"></loading>
</div>
