<div class="product top-spacing" ng-controller="ProductItemController">
  <div class='pull-right btn-group'>
    <button class="btn btn-primary" ng-click="addSimilarProduct()">
      <i class="icon-file"></i>
      <span>{{"Create similar product" | i18n}}</span>
    </button>
    <button ng-click="editModel()" class="btn btn-primary">
        <i class="icon-edit"></i>
        <span >{{"Edit" |i18n}}</span>
    </button>
  </div>
  <div class='form-group head'>
		<h2>{{'Number' |i18n}}
			<span ng-if="!edit">{{product.number}}</span>
		</h2>
    <div class='default-img thumbnails-wapper '>
      <img ng-if="imageHost" ng-src='{{defaultImage}}'>
    </div>
	</div>
  <div class="row">
    <fieldset class="col-sm-8 top-spacing properties">
      <legend>{{'Property' | i18n}}</legend>
      <form class="form-horizontal">
        <div class='form-group' ng-repeat='field in properties'>
          <label class="control-label col-xs-5">{{field.name | i18n}} {{field.unit?"("+field.unit+")":""}}</label>
          <div class="col-xs-5">
            <span class='value' name="field.name">{{field.value}}</span>
          </div>
        </div>
      </form>
    </fieldset>
    <fieldset class="col-sm-4 top-spacing pictures" ng-if="product.images.length">
      <legend>{{'Pictures' | i18n}}</legend>
      <div class="image-tab">
        <loading ng-if="!imageHost"></loading>
        <div class="images" ng-if="imageHost" ng-class="(edit)?'span7':''">
          <div class="box" ng-repeat="img in product.images">
            <div class="thumbnails-wapper clickable" ng-click="viewImage($index)">
              <img  ng-src="{{getImageURL(img.name,100)}}"/>
            </div>
            <button class="btn btn-link delete" ng-if="edit" ng-click="removeImage($index)">Delete</button>
          </div>
        </div>
    </fieldset>
  </div>
  <fieldset class="top-spacing components" ng-if="product.components.length">
    <legend>{{'Components' | i18n}}</legend>

    <productlist ng-if="product.components.length" products="product.components" fixed="true"></productlist>
  </fieldset>
  <loading ng-if="!product.uid"></loading>
</div>
