<div class="navbar-inner" ng-controller="HeaderController" ng-init="init()" >
	<div class="container" >
		<button class="btn btn-navbar" ng-click="isNavCollapse = !isNavCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="brand" ui-sref="home">Marktop</a>
		<div class="nav-collapse" collapse="!isNavCollapse">
			<ul class="nav" ng-if="user.isAuthed()">
				<li ng-repeat="item in menu"  ng-class="isSelected(item)"><a ui-sref="{{item.state}}">{{item.title | i18n}}</a></li>
			</ul>
			<div>
				<ul class="nav pull-right" ng-show="user.isAuthed()">
					<li class="dropdown">
						<a class="dropdown-toggle" toggle="dropdown">
							{{user.account}} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li ><a ui-sref="signout">{{'Signout' | i18n}}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
