body{
  font-family: "微软雅黑","黑体"，"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.top-spacing{
  margin-top:20px;
}
.content{
  margin-top:50px;
  }
.clickable{
  pointer:cursor;
}
globalajax span{
  height: 1px;
  position: absolute;
  background: #3276b1;
  box-shadow: 0 0 10px #aaa;
  width: 20%;
}
footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#ddd;
  -webkit-box-shadow:0 8px 6px 6px black;
  -moz-box-shadow:0 8px 6px 6px black;
  box-shadow:0 8px 6px 6px black;
}
footer p{
  padding:5px 0 12px 10px
}
form.signup,form.signin{
  margin-top:5em;
}
.products .list .id{
  width:40px;
}
.products .list td{
  vertical-align:middle;
}
form .value{
  display: block;
  margin-top: 5px;
}

.catalog label{
  display: inline-block;
}
.combobox .dropdown-menu{
  margin-left:15px;
}
.dropdown-pad{
padding-bottom:10em;
}
.upload{
max-width: 400px;
}
#dropbox{
box-shadow: 0 2px 2px #DFDFDF;
border: 1px solid #C5C5C5;
height: 200px;
margin: 20px 10px;
border-radius: 1em;
}
#dropbox h1{
margin-top: 60px;
color: #C4C4C4;
text-aglign:center;
}
.upload.success #dropbox{
  box-shadow: 0 2px 10px #1A941C;
}
.upload.error #dropbox{
  box-shadow: 0 2px 10px #B43232;
}
.upload.pending #dropbox{
  box-shadow: 0 2px 10px #1A7294;
}
.upload .progress{
  height:5px; 
}

.product .images .box{
  width: 100px;
  display: inline-block;
  margin: 5px;
}
.product .catalog h3{
  text-align:center;
}
.thumbnails-wapper{
  height:100px;
  width:100px;
  cursor:pointer;
}
img{
  max-height:100%;
  max-width:100%;
}
.product .head{
  overflow:auto;
}
.product .head h2{
  display:inline;
}
.product .head .default-img{
  display:inline-block;
  border: 1px solid #DDD;
  float:left;
  margin-right: 20px;
  width:100px;
  height:100px
}
.company form input{
  display: block;
  margin-bottom: 20px;
}
productlist select{
  max-width:10em;
}
