<form class='{{type}} row' ng-submit='{{type}}()' >
	<div class='{{type}} col-sm-4 col-sm-offset-4'>
	  <h2>{{title | i18n}}</h2>
		<div class='form-group'>
      <input id="userAccount" class='account form-control' name='account' type='text' placeholder='{{"Account" | i18n}}' ng-model='user.account'>
	  </div>
	  <div class='form-group'>
      <input id="userPassword" class='password form-control' type='password' name='pasword' placeholder='{{"Password" | i18n}}' ng-model='user.password'>
	  </div>
	  <div class='form-group'>
	    <div class="controls">
	      <button class='btn btn-primary' type='submit'>{{'Submit' | i18n}}</button>
	    </div>
	  </div>
    <errors class="col-xs-8 col-xs-offset-2"></errors>
	</div>
</form>
